body{
    font: 15px Arial,Helvetica,sans-serif ;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4; 
  }

.contenedor {
    background-color: rgb(0, 183, 255);
    padding-bottom:20px;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 20px;
    overflow: hidden;

}

ul{
    margin: 0;
    padding: 0;

}
header{
    padding-bottom:20px;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
   
}
header a {
    color: darkcyan;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    
}